@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --black: #000000;
    --white: #fafafa;

    --custom-primary: #f3d2c1;
    --custom-secondary: #8bd3dd;
    --custom-bg: #fef6e4;
    --custom-btn: #f582ae;
    --custom-text: #001858;
    --custom-paragraph: #172c66;

    --background: var(--custom-bg);
    --accent: var(--custom-text);

    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--accent);
    padding-bottom: 100px;

    font-family: "Roboto Mono", "Kanit", sans-serif;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--custom-primary);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: var(--custom-btn);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #fff3;
}